version: "3"

services:
  nginx:
    image: nginx:alpine
    container_name: recept-nginx
    restart: always
    ports:
      - "3011:3011"
    volumes:
      - web-data:/usr/share/nginx/html:ro
    # Hack to serve the 'public' subdirectory as root to allow atomic swaps of that folder
    # AND change listen port to 3011 to match container port
    command: /bin/sh -c "sed -i 's|listen       80;|listen       3011;|g' /etc/nginx/conf.d/default.conf && sed -i 's|/usr/share/nginx/html|/usr/share/nginx/html/public|g' /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"

  builder:
    build: .
    container_name: recept-builder
    restart: always
    volumes:
      - web-data:/data
      # Mount SSH keys if needed for private repo
      # - ./keys:/root/.ssh:ro
    environment:
      - GIT_REPO=https://github.com/rDevHQ/Recept.git
      # Set GIT_REPO to your actual URL. If private, use SSH URL and mount keys.
      - CHECK_INTERVAL=120

volumes:
  web-data:
