version: "3"

services:
  recept:
    image: ghcr.io/rdevhq/recept-server:latest
    container_name: recept
    restart: always
    ports:
      - "3011:80"
    volumes:
      # Map the host data folder to the container's /data
      # The container will write to /data/public and Nginx will serve /data/public
      - /DATA/AppData/recept/data:/data
    environment:
      - GIT_REPO=https://github.com/rDevHQ/Recept.git
      - CHECK_INTERVAL=120

x-casaos:
  architectures:
    - amd64
    - arm64
    - arm
  main: recept
  description: "Recept Library Website"
